@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  

  /* Master class */
.master-class{
    background-color: rgba(241, 241, 243, 1);
}



  /* Header section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 180px;
}
nav h3{
    font-size: 30px;
}
.sign-in-button{
    font-size: 18px;
    color: #006A50;
    border-color: #006A50 ;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: white;  
}
.sign-in-button:hover{
    background:rgba(211, 211, 211, 0.659);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    margin: 0 180px 110px 180px;
    border-radius: 24px;
    gap: 140px;
}
.banner:hover{
    background-color: #A8D2BE;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.banner-subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 56px;
    columns: #0E0E0E;
}
.banner-content-text{
    padding: 117px 0 117px 60px;
}
.banner-content-pic{
    padding: 120px 60px 70px 0;
}
.banner-button{
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}
.banner-button:hover{
    background-color: #4C5B41;
    color: white;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}
/* shared styles */
.regular-font{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

/* The Vision of Future section */

.tvf-container{
    padding: 0 180px 0 180px ;
    margin-bottom: 100px;
}
.tvf-sectors{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    
}
.tvf-sector-dt{
    background-color:rgba(84, 144, 245, 0.2);
    padding: 30px;
    border-radius: 16px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}
.tvf-sector-dt:hover{
    background-color: #A3BFF7;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.tvf-sector-ge{
    background-color: #C6E4D6;
    padding: 30px;
    border-radius: 16px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}
.tvf-sector-ge:hover{
    background-color: #A5D0A1;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.tvf-sector-mi{
    background-color: #F7EBCF;
    padding: 30px;
    border-radius: 16px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;  
}
.tvf-sector-mi:hover{
    background-color: #e4f0c3;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.digital-logo{
    max-width: 50px;
    max-height: 50px;
    margin-top: 15px;
    margin-left: 5px;
}
.green{
    max-width: 90px;
    max-height: 65px;
    /* margin-left: -6px; */
}

.builing-logo{
    max-width: 100px;
    max-height: 85px;
    /* margin-left: -2px; */
    margin-bottom:-20px;
}

section h1{
    font-size: 40px;
    /* margin-top:-40px; */
    margin-bottom: -1px;
    color: #0E0E0E;
}
.tvf-description{
    color:rgba(14, 14, 14, 0.7);
    line-height: 24px;

}

.button-dt{
    background-color: #5490F5;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
}
.button-dt:hover{
    background-color: #3d7bd5;
    color: white;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}
.button-ge{
    background-color: #09A15C;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
}
.button-ge:hover{
    background-color: #2C6B45;
    color: white;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}
.button-mi{
    background-color: #FFC239;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
}
.button-mi:hover{
    background-color: #FF7F00;
    color: white;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}

/* Quote styles */

.quote-container{
    
    background-color: rgba(255, 255, 255, 1);
    border: 1 px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    box-sizing: content-box;
    margin: -70px 180px 0 180px ;
    padding: 30px;
}
.quote-container:hover{
    background-color: #ffe6e6;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.quote-text{
    margin-top: -44px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;   
}
.person-name{
    font-size: 20px;
    margin-bottom: 14px;
    color: rgba(14, 14, 14, 0.8);
}
.person-designation{
    margin-top: -10px;
    color: (14, 14, 14, 0.6);
}

/* News styles */
.news-elements{
    padding: 40px 180px 0 180px ;
   
}
.news-heading{
    color: #0E0E0E;
    font-size: 40px;
}
.news-about{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
   
}
.news-card1{
    display: flex;
    background-color: white;
    border: 0;
    border-radius: 24px;
    padding: 48px;
    margin: 20px 0 20px 0;
    align-items: center;
}
.news-card1:hover{
    background-color: #cce7ff;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.news-card2{
    display: flex;
    background-color: white;
    border: 0;
    border-radius: 24px;
    padding: 48px;
    margin: 20px 0 20px 0;
    align-items: center;
}
.news-card2:hover{
    background-color: #cce7ff;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.news-img-holding{
    margin-right: 32px;
    border-radius: 24px;
    border:0;
}
.news-img-holding img{
    border-radius: 24px;
    border: 0;
}
.news-img-holder{
    margin-left: 32px;
    border-radius: 24px;
    border:0;
}
.news-img-holder img{
    border-radius: 24px;
    border: 0;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
}
.card-content{
    padding: 12px;
    margin-top: -25px;
}
.news-text{
    margin-top: -8px;
}
.dt-spacing{
    margin-top: -12px;
}
.rm-button{
    font-size: 18px;
    padding: 13px 26px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}
.rm-button:hover{
    background-color: #3C8D73;
    color: black; 
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;

}
.dt-spacing{
    display: flex;
}
.date-time2{
    margin-left: 12px;
}

/* Donation area styles */

.donate-items{
    text-align: center;
    margin: 40px 180px 0 180px ;
    border-radius: 24px;
}
.dnt-heading{
    color: #0E0E0E;
    font-size: 40px;
    margin: 80px 0 24px 0;
}
.dnt-descpription{
    padding: 0 110px 0 110px;
}
.tk-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.tk-holder{
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    font-size: 40px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.th1:hover {
    background:rgba(211, 211, 211, 0.659);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
  }
.th3:hover {
    background:rgba(211, 211, 211, 0.659);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
  }
.th4:hover {
    background:rgba(211, 211, 211, 0.659);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
  }
  
.tk-hold{
    color: rgba(14, 14, 14, 0.8);
    padding:40px;
    font-size: 40px;
    background-color: rgba(198, 228, 214, 1);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.tk-hold:hover{
    opacity: 1;
    background: rgba(0, 106, 80, 1);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}
.other-amnt-tk{
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 1032px;
    height: 64px;
    text-align: center;

}
.other-amnt-tk::placeholder{
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 400px;
    text-overflow: ellipsis;
}
.cnfrmtn-text{
    color: rgba(14, 14, 14, 0.7);
}
.done-btn{
    margin: 32px 0 80px;;
}
.d-button{
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}
.d-button:hover{
    background-color: #ffc4a3; 
    color: #006A50; 
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}

/* News letter styles */
.sub-newsletter-container{
    margin-bottom: 100px;
}

.newsletter-items{
    text-align: center;
    margin: 0 180px 0 180px;
    background-color: rgba(198, 228, 214, 1) ;
    border-radius: 24px;
    padding: 80px 100px;
}
.newsletter-items:hover{
    background-color: #A8D2BE;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: text;
}
.mailsub-lining{
    display: flex;
    text-align: center;
    justify-content: center;
}
.subs-heading{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}
.sub-description{
    padding: 0 240px 0 240px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.promise{
    color: rgba(14, 14, 14, 0.7);
    padding-top: 24px;
}
.mail-box{
    width: 750px;
    height: 56px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.mail-box::placeholder{
    text-align: left;
    padding:18px 0 18px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    text-overflow: ellipsis;
}
.sub-btn{
    font-size: 18px;
    padding: 17px 34px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}
.sub-btn:hover{
    background-color: #4C5B41; /* Peach */
    color: white; /* Deep green */
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.216);
    cursor: pointer;
}
.mailsub-lining{
    margin-top: 24px;
}