.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  /* Header section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 180px;
}
nav h3{
    font-size: 30px;
}
.sign-in-button{
    font-size: 18px;
    color: #006A50;
    border-color: #006A50 ;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: white;
    
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    margin: 0 180px 110px 180px;
    border-radius: 24px;
    gap: 140px;

}
.banner-subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);

}
.banner-title{
    font-size: 56px;
    columns: #0E0E0E;
}
.banner-content-text{
    padding: 117px 0 117px 60px;
}
.banner-content-pic{
    padding: 120px 60px 70px 0;
}
.banner-button{
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}
/* shared styles */
.digital-logo{
    max-width: 50px;
    max-height: 50px;
    margin-top: 15px;
    margin-left: 5px;
}
.green{
    max-width: 90px;
    max-height: 65px;
    /* margin-left: -6px; */
}

.builing-logo{
    max-width: 100px;
    max-height: 80px;
    /* margin-left: -2px; */
    margin-bottom:-20px;
}


/* The Vision of Future section */

.tvf-container{
    padding: 0 180px 0 180px ;
    margin-bottom: 100px;
}
.tvf-sectors{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    
}
.tvf-sector-dt{
    background-color:rgba(84, 144, 245, 0.2);
    padding: 30px;
    border-radius: 16px;
    font-size: 20px;

}
.tvf-sector-ge{
    background-color: #C6E4D6;
    -webkit-stroke: #09A15C ;
    padding: 30px;
    border-radius: 16px;
    font-size: 20px;



}
.tvf-sector-mi{
    background-color: #F7EBCF;
    -webkit-stroke: 2px #FFC239;
    padding: 30px;
    border-radius: 16px;
    font-size: 20px;
}

section h1{
    font-size: 40px;
    /* margin-top:-40px; */
    margin-bottom: -1px;
}
.tvf-description{
    color:rgba(14, 14, 14, 0.7);
}

.button-dt{
    background-color: #5490F5;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;


}
.button-ge{
    background-color: #09A15C;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;


}
.button-mi{
    background-color: #FFC239;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
}

/* Quote styles */

.quote-container{
    
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    box-sizing: content-box;
    margin: -50px 180px 0 180px ;
    padding: 30px;
}
.quote-items{
    /* padding:  180px 0 180px ; */
}

.quote-text{
    margin-top: -43px;
    
}
.person-name{
    font-size: 20px;
    margin-bottom: 14px;
}
.person-designation{
    margin-top: -10px;
}
.quote-text{
    line-height: 24px;
}